* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 90vh;
  background-color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;  
}
.container {
  width: 250px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container img {
  width: 100%;
}
.container1 {
  background-color: rgb(41, 177, 41);
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  gap: 15px;
}
.container2 {
  background-color: white;
  align-items: flex-start;
  gap: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
select, input {
  width: 200px;
  padding: 5px 0px;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
}
.btn {
  width: 100px;
  padding: 5px 0px;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 5px;
}
.btn:hover {
  border: 1px solid white;
}
.bx-color {
  display: flex;
  gap: 5px;
}
.pinColor {
  width: 16px;
  height: 16px;  
  border: 1px solid black;
  border-radius: 50%;
}